PORT=
BACKEND_URL=

LOG_LEVEL=
BETTERSTACK_TOKEN=

ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_PASS=

SALT=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

SMTP_PORT=
SMTP_HOST=
EMAIL_USER=
EMAIL_PASS=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

SHIPROCKET_API_BASE_URL=
SHIPROCKET_API_USER_EMAIL=
SHIPROCKET_API_USER_PASS=

CART_INACTIVITY_THRESHOLD_MIN=

MONGO_URI=
