PORT=
BACKEND_URL=
MONGO_URI=

# ----- Admin Credentials -----
PRIMARY_ADMIN_EMAIL=
PRIMARY_ADMIN_PHONE=
PRIMARY_ADMIN_PASS=

SECONDARY_ADMIN_EMAIL=
SECONDARY_ADMIN_PHONE=
SECONDARY_ADMIN_PASS=
# ----- Admin Credentials -----

SALT=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

SMTP_PORT=
SMTP_HOST=
SMTP_EMAIL=
SMTP_PASS=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

SHIPROCKET_API_BASE_URL=
SHIPROCKET_API_USER_EMAIL=
SHIPROCKET_API_USER_PASS=

CART_INACTIVITY_THRESHOLD_MIN=

LOG_LEVEL=
BETTERSTACK_SOURCE_TOKEN=
BETTERSTACK_INGESTING_URL=
